body {
    background: url("images/feeling-lucky.png")no-repeat center right fixed;
    font-family: 'American Typewriter';
}

#guess_input {
    text-align:center;
    font-size: 3.7vmax;
    align-items: center;
    font-family: 'American Typewriter';
}

#buttonid, #response_div, #reset  {
    font-size: 5vmax;
    font-family: 'American Typewriter';
}

